* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #2d2d2d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .form {
    padding: 20px;
    width: 500px;
    background-color: #514460;
  }
  table {
    padding: 20px;
  }
  td {
    padding-bottom: 10px;
    padding-right: 20px;
    color: white;
  }
  input {
    height: 30px;
  }
  input,
  textarea {
    background-color: #514460;
    border: 1px solid #645a72;
    border-radius: 5px;
  }
  textarea {
    width: 100%;
  }
  
  button {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
  }