body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
}

table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #c82333;
}