/**{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: red;
}

@media screen and (max-width: 768px){
    h1{
        background-color: green;
    }
} */

/* Desktop- May tinh de ban */
/* h3{
    background-color: yellow;
}
@media screen and (max-width:1200px){
    h3{
        background-color: blue;
    }
} */

/* Table -May tinh bang ngang */
/* @media screen and (max-width:1024px){
    h3{
        background-color: purple;
    }
} */
/* Table -May tinh bang doc */
/* @media screen and (max-width:768px){
    h3{
        background-color: orangered;
    }
} */

/* Phone - Dien thoai */
/* @media screen and (max-width:480px) {
    h3{
        background-color: sienna;
    }
} */

