* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
}

header {
    background-color: red;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    margin-bottom: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

section aside:nth-of-type(1) {
    background-color: green;
    flex: 1;
}

section main {
    background-color: yellow;
    color: black;
    text-align: center;
    height: 300px;
}

section aside:nth-of-type(2) {
    background-color: pink;
    flex: 1;
}

aside {
    font-weight: bolder;
    font-size: 40px;
}

aside,
main {
    border-radius: 10px;
    text-align: center;
}

footer {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    section {
        flex-direction: column;
    }
}