* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.header {
    width: 100%;
    height: 30px;
    background-color: #3498db;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.sidebar {
    height: 500px;
    background-color: #2ecc71;
    color: white;
    flex: 1;
}

.content {
    background-color: red;
    flex: 3;
}

.footer {
    background-color: #9b59b6;
}