.title{
    font-family:'Times New Roman', Times, serif;
    border: 3px solid #eaeaea;
    background-color:#eaeaea;
    width: 500px;
    height: 300px;
}
.title h1{
    color: #231751;
}
.title p{
    color: #231751;
}
img{
    width: 25px;height: 25px;
    padding-top: 10px;
    }

