body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}
nav a {
    margin: auto;
    text-decoration: none;
    padding-right:15px;
    color: white;
    font-weight: lighter;
}
.profile img{
    margin-left: 10px;
    border-radius: 50%; 
    width: 150px;
    height: 150px;
}

.profile table{
    margin: auto;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #ddd;
}

