* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.title td{
    background-color: white;
    border: 3px solid #eaeaea;
    width: 220px; 
    padding: 15px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

.title h3 {
    color: red;
    margin-bottom: 10px;
}

.title p {
    color: #231751;
}
