body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 20px;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    cursor: pointer;
    border-radius: 5px;
}

#pagination button.active {
    background-color: #007bff;
    color: white;
}
