body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;

}

h1, h2 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-bar input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-bar button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-bar button:hover {
    background-color: #218838;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.card-text strong {
    color: #e63946;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}