* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }
  
  .child {
    width: calc(25% - 10px);
    height: 100px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5px;
    border-radius: 8px;
  }
  
  .large {
    width: calc(50% - 10px);
  }